<h1>Home</h1>

<%= render 'welcome' %>

<h1>Listing all Posts</h1><table>
 <tr>
  <th>Title</th>
  <th>Description</th>
  <th>Date</th>
 </tr>
 <% if @posts %>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.description %></td>
      <td><%= post.created_at.strftime("%d/%m/%Y") %></td>
    </tr>
    <% end %>
 <% else %>
    <p>Você ainda não criou nenhum post.</p>
 <% end %>
</table>
