<%= form_tag import_txt_posts_path, multipart: true, class: "row g-3 mb-2" do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <form class="row g-3">  
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping"><i class="fas fa-upload"></i></span>
      <%= file_field_tag :arquivo, :required => true, class: "form-control form-control-sm" %>
    </div>
    <div class="col-auto">   
      <%= submit_tag "Importar arquivo .txt", class: "form-control btn btn-primary bg-gradient btn-sm" %>
    </div>
  </form>
<% end %>