<div class="container">
  <%= render @post %>
  <%= render 'comments/form', post: @post, comment: @post.comments.build %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
</div>
